body {
  background: ;
  background-color: darkblue;
  text-align: center
}
p {
  color: red;
}

h1 {
  font-weight: bolder;
  color: forestgreen;
    text-underline-position:
}
img {
  
  
  border-color: aqua;
    border-width: thick;
      border-style: solid;
        border-radius:  70px
}

a {
  text-align: left


}
header{
  
  
  
  
}

a1{

  
  text-align: right

}
